.product-card {
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-areas:
    "title title"
    "img desc";

  section {
    padding: 0.75em;
  }

  &__title {
    grid-area: title;
    text-align: center;
    font-weight: 700;
  }

  &__img {
    grid-area: img;

    img {
      max-width: 100%;
    }
  }

  &__desc {
    grid-area: desc;

    dl {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 0.5em;

      dt {
        font-weight: 700;
      }
    }
  }
}
